/* constant styles for the web */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

html {
scroll-behavior: smooth;
}
.mainContainer {
  margin: auto;
  width: 1300px;
}

@media screen and (max-width: 1400px) {
  .mainContainer {
    width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .mainContainer {
    width: 100%;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    margin: 3rem 0 !important;
    padding: 3rem 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .mainContainer {
    margin: auto;
    width: 100%;
    padding: 0 1.5rem;
  }

  .wrapper {
    margin: 1rem 0 !important;
    padding: 3rem 0 !important;
  }

  h2 {
    font-size: 1.25rem !important;
  }

  p {
    font-size: 1rem !important;
  }
}