/* constant themes */

:root {
    --title-1: 4rem;
    --title-2: 2rem;
    --text-1: 1.2rem;
    --text-2: 1rem;

    --primary-color: #8ed4f0;
    --primary-color-hover: #6c96a7;
    --secondary-color:  rgb(68, 45, 24);
    --white-color: #ffffff;
    --black-color: rgb(20, 20, 20);
    --gray-color: rgba(255, 255, 255, 0.699);
    --grayDark-color: rgb(71, 71, 71);

    --text-light: 200;
    --text-md: 300;
    --bold: bold;

    --linear-gradient: transparent;
    --text-gradient: linear-gradient(45deg, var(--primary-color) 50%, rgba(255,249,249,1) 99%);
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0) 74%, rgba(142,212,240,0.05646008403361347) 100%);
    background-color: var(--black-color) !important;
    
    
}

strong {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* animation in scroll */

@keyframes show {
    from {
        opacity: 0;
        scale: 0%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.show {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 45%;

    animation-fill-mode: both;
}