.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.25rem 0;
}

.wrapper h1 {
    color: var(--white-color);
}

.nav_ul {
    display: flex;
    list-style: none;
}

.nav_ul_responsive li a,
.nav_ul li a {
    font-size: var(--text-2);
    color: var(--gray-color);
    margin-left: 3.5rem;
    font-weight: lighter;
    text-decoration: none;
}


.nav_ul_responsive li a{
    margin: 0;
}

.nav_ul_responsive li a:hover,
.nav_ul li a:hover {
    color: var(--white-color);
}

.btnNav {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none;
}

.btnNav svg {
    background-color: transparent;
}


.nav_ul_responsive {
    position: absolute;
    top: -50%;
    transition: 0.3s ease all;
}


@media screen and (max-width: 950px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .nav_ul {
        display: none;
    }

    .logo  {
        z-index: 10;
    }
    .btnNav {
        z-index: 10;
        display: block;
    }
    .nav_ul_responsive {
        top: 0;
        left: 0;
        position: absolute;
        margin: 0;
        padding-left: 0;
        width: 100%;
        height: 100vh;
        background-color:  var(--black-color);
        transition: 0.2s ease all;
        opacity: 1;
        padding-top: 50%;

        -webkit-animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes scale-up-ver-top {
        0% {
          -webkit-transform: scaleY(0.4);
                  transform: scaleY(0.4);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
      }
      @keyframes scale-up-ver-top {
        0% {
          -webkit-transform: scaleY(0.4);
                  transform: scaleY(0.4);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
      }
      

    .nav_ul_responsive li {
        list-style: none;
        margin: 2rem;
        flex-direction: column;
        text-align: center;
    }

    .nav_ul_responsive li a {
        font-size: 1.5rem;
    }
}
