.wrapper {
    padding: 10% 0;
    display: flex;
    color: var(--white-color);
    width: 100%;
    flex-direction: row-reverse;
}

.platform img {
    width: 150px;
    border-radius: 7px;
    margin-right: 1rem;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.platform {
    margin-top: 1.5rem;
    flex: 1;
}

.platform img {
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .wrapper {
        flex-direction: column;    
        margin: 5% 0;
        text-align: left;
    }
    .container {
        margin-bottom: 1.25rem;
    }
}

@media screen and (max-width: 500px) {
    .platform {
        flex-direction: row;    
        margin: 5% 0;
        display: flex;
    }
}

@media screen and (max-width: 285px) {
    .platform img {
        width: 100px;
    }
}
