.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    text-align: center;
}


.wrapper h3 {
    color: var(--white-color);
    font-size: var(--text-1);
    border-right: 1px solid white;
}
